@import "../../../../../sass/variables/index.scss";
@import "../../../../../sass/mixins/flexbox.scss";


.header{
    padding: 0.5em;
    background-color:white;
    @include full-center_j_d(space-between);
    background-color: rgb(247, 247, 247);
}

.spanForIcon{
    color: $theme-color;
}


@media (hover:hover){
    .spanForIcon:hover{
        filter: brightness(0.9);
    }
}

